.lila{
    background-color: lightsalmon;
}
body{
    background: lightgoldenrodyellow;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;    
}
.img-fluid{float: left;
}
h1{
    background-color: lightcoral; font-size: 200%;

}
h2{
    color: black; font-size: 130%;
}
h3,p {  color: grey; font-size: 100%;
}
