.lila{
    background-color: lightslategray;
}
body{
   
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;    
}
.img-fluid{float: left;
}
h1{
    background-color: lightslategray; font-size: 200%;

}
h2{
    color: black; font-size: 130%;
}
h3{
      color: black; font-size: 100%;
}
p {  color: grey; font-size: 100%;
}
